@page "/staffs/"
@inject HttpClient _client
@inject IJSRuntime js
@implements IDisposable
@inject HttpInterceptorService _interceptor
@attribute [Authorize]

<h3 class="card-title"> Our Staff</h3>
<PageTitle>Our Staff</PageTitle>
<br />

<a href="/staffs/create" class="btn btn-warning">
    <span class="oi oi-plus"></span>
    Create New Staff
</a>
<br />

@if (Staffs == null)
{
    <div class="alert alert-info">Loading staffs...</div>
}
else
{
    <table class="table table-responsive" id="staffTable" style="border:1px solid black">
        <thead>
            <tr>
                <th>Contact Number</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Staffs)
            {
                <tr>
                    <td>@staff.ContactNumber</td>
                    <td>@staff.Password</td>
                    <td>
                        <a href="/staffs/view/@staff.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/staffs/edit/@staff.Id" class="btn btn-secondary">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(staff.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Staff>? Staffs;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

    async Task Delete(int staffId)
    {
        if (Staffs != null)
        {
            var staff = Staffs.First(q => q.Id == staffId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {staff.ContactNumber}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.StaffsEndpoint}/{staffId}");
                await OnInitializedAsync();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(1000);
        await js.InvokeVoidAsync("AddDataTable", "#staffTable");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#staffTable");
    }
}
